!jest.config.js
*.d.ts
node_modules
api_venv
ingest_venv

# CDK asset staging directory
.cdk.staging
cdk.out

# Python virtual env
.venv
venv
.DS_Store

# Boto 3 beta libs
*.whl
assets/bedrock-python-sdk/
.env

# VS Code files
.vscode/

.vs/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

**/dist

# Pyright
pyrightconfig.json

# Data
src/dummy_data_generator/output_data/**
src/bedrock_anthropic_tpoc_rag/duckdb_data/**

# .env aws credentials
src/bedrock_datamap_rag/.env
src/bedrock_datamap_rag/aws/credentials
src/bedrock_datamap_rag/aws/aws_env_vars

.volumes
bedrock/setup_aws_env.ps1
bedrock/temp_setup.ps1
